# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.venv_linux/

# Data and outputs
data/
outputs/
models/
ALPR/
yolo_dataset/
yolo_lp_dataset/
yolo_lp_dataset.zip
runs/

# Logs
*.log

# Mac / misc
.DS_Store