services:
  plate-recognizer:
    build:
      context: .
      dockerfile: Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - compute
                - utility
    ports:
      - "5000:5000"
    volumes:
      - .:/usr/src/app
    restart: always
    networks: 
      - alpr-network

networks:
  alpr-network:
    external: true